.texto-encima {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    color: white;
    font-size: 39px;
    font-weight: bold;
    text-align: left;
  }
.imagen-batman {
    width: 100%; height: 100%;
  }
main {
  width: 60%;
  margin: 0 auto;
  font-size:x-large;
  font-family: 'Open Sans', sans-serif;
}
.thebatman {
color: red;
}
.goodbye {
  width: 100%; height: 100%;
}
@media (max-width: 600px) and (orientation: landscape) {
  body {
    font-size: 12px;
  }
}
.rataalada {
  width: 100%; height: 100%;
}
.web {
  width: 100%; height: 100%;
}
table {
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  width: 60%;
  border-collapse: collapse;
  border: 2px solid black;
}
th, td {
  border: 1px solid black;
  padding: 8px;
}
.pattinson {
  width: 45%; height: 45%
}